<!DOCTYPE html>
<html lang="en">


<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static '/images/favicon-32x32.png' %}">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <title>Go-Electric</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static '/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/owl.css' %}">

</head>


<body>
{% include 'header.html' %}
  <div class="page-heading about-heading header-text"
    style="background-image: url(../static/images/logo.png); background-size: contain; background-position: center; ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>about us</h4>
            <h2>our company</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>About Go-Electric?</h2>
            <p>We make choosing and buying your perfect electric car easy and enjoyable. By comparing the best cars available in the market, you get the car you want. With us, you can quickly and easily choose your perfect car with the help of our impartial guides and video reviews. Compare offers based on price, location and dealer rating – no need to haggle, no hidden costs. Feel 100% looked after throughout the reviewing process.
             <br><br>We hope you enjoy your car buying journey with us.
             </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="static/images/about-1-570x350.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <h4>Our Vision</h4>
            <p>At Go-Electric, we envision a future where clean, efficient, and electrifying transportation 
              is the norm. Our passion lies in accelerating the transition to a sustainable future by connecting individuals 
              with a diverse range of electric vehicles. We believe that every journey can be both eco-friendly and thrilling, 
              and we're here to make that vision a reality.
            </p>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our Commitment to Sustainability.</h2>
            <p>Beyond offering an extensive range of electric vehicles, Go-Electric is committed to promoting sustainability in every aspect of our operations. <br> 
              We believe that sustainability goes beyond the vehicles themselves—it's about creating a greener future through responsible business practices, eco-friendly packaging, and carbon-neutral initiatives.</p>
          </div>
            <br><br>
            <h3>Join the Electric Revolution!</h3>  
          <p>Whether you're a seasoned EV enthusiast or taking your first steps into the world of electric mobility, Go-Electric welcomes you. Join us on this exciting journey towards a cleaner, greener, and more exhilarating future. Explore our online EV marketplace today and discover the thrill of driving into tomorrow!</p>
        <br><br>
        </div>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}
</body>

</html>