<!DOCTYPE html>
<html lang="en">


<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../static/images/favicon-32x32.png">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <title>Go-Electric</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static '/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/owl.css' %}">

</head>


<body>
  {% include 'header.html' %}

  <div class="page-heading about-heading header-text"
    style="background-image: url(static/images/heading-6-1920x500.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>Electric Vehicles Inventory</h4>
            <h2>Explore the best electric cars available in market.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="products">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="contact-form">
            <form action="#">
              <label>Used/New:</label>

              <select class="form-control">
                <option value="">All</option>
                <option value="new">New vehicle</option>
                <option value="used">Used vehicle</option>
              </select>

              <label>Vehicle Type:</label>

              <select class="form-control">
                <option value="">--All --</option>
                <option value="">--All --</option>
                <option value="">--All --</option>
                <option value="">--All --</option>
                <option value="">--All --</option>
              </select>

              <label>Make:</label>

              <select class="form-control">
                <option value="">All</option>
                <option value="Tata">Tata</option>
                <option value="Kia">Kia</option>
                <option value="MG">MG</option>
                <option value="Mahindra">Mahindra</option>
                <option value="BMW">BMW</option>
                
                <option value="">-- All --</option>
              </select>

              <label>Model:</label>

              <select class="form-control">
                <option value="">-- All --</option>
                <option value="">-- All --</option>
                <option value="">-- All --</option>
                <option value="">-- All --</option>
              </select>

              <label>Price:</label>

              <select class="form-control">
                <option value="">-- All --</option>
                <option value="">-- All --</option>
                <option value="">-- All --</option>
                <option value="">-- All --</option>
              </select>

              <label>Mileage:</label>

              <select class="form-control">
                <option value="">-- All --</option>
                <option value="">-- All --</option>
                <option value="">-- All --</option>
                <option value="">-- All --</option>
              </select>

              <label>Engine size:</label>

              <select class="form-control">
                <option value="">-- All --</option>
                <option value="">-- All --</option>
                <option value="">-- All --</option>
                <option value="">-- All --</option>
              </select>

              <label>Power:</label>

              <select class="form-control">
                <option value="">-- All --</option>
                <option value="">-- All --</option>
                <option value="">-- All --</option>
                <option value="">-- All --</option>
              </select>

              <label>Fuel:</label>

              <select class="form-control">
                <option value="">-- All --</option>
                <option value="">-- All --</option>
                <option value="">-- All --</option>
                <option value="">-- All --</option>
              </select>

              <label>Gearbox:</label>

              <select class="form-control">
                <option value="">-- All --</option>
                <option value="">-- All --</option>
                <option value="">-- All --</option>
                <option value="">-- All --</option>
              </select>

              <button type="submit" class="filled-button btn-block">Search</button>
            </form>
          </div>
        </div>

        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/nexon ev/NexonEV.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>Tata Nexon EV</h4>
                  </a>

                  <h6>Rs 14.74 - 19.94 Lakh</h6>

                  <p>144 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>

                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 325-465 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>40KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i>Auto</strong>
                  </small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/Tata Tiago EV/TataTiagoEV.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>Tata Tiago EV</h4>
                  </a>

                  <h6>Rs 8.69 - 12.04 Lakh</h6>

                  <p>74 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>

                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 250-315 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>24 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/Kia ev 6/Kia-ev6.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>Kia EV6</h4>
                  </a>

                  <h6>Rs 60.95 - 65.95 Lakh</h6>

                  <p>320 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>

                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 708 kM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>77 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/BMW i7/Bmwi7.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>BMW i7</h4>
                  </a>

                  <h6>Rs 2.03 - 2.50 Cr</h6>

                  <p>536 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>

                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 625 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>150 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/Mahindra XUV400 EV/MahindraXuv400.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>Mahindra XUV400 EV</h4>
                  </a>

                  <h6>Rs 15.99 - 19.39 Lakh</h6>

                  <p>147 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>

                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 375 - 456 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>39.4 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/MG Comet EV/MG Comet EV.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>Mg Comet EV</h4>
                  </a>

                  <h6>Rs 7.98 - 9.98 Lakh</h6>

                  <p>41.42 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>
                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 230 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>17.3 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>

            <!--pkm-->
            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/MG ZS EV/MGZSev.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>MG ZS EV</h4>
                  </a>

                  <h6>Rs 22.88 - 26 Lakh</h6>

                  <p>175 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>

                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 461 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>50.3 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>
                  
            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/BMW iX/BMW iX.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>BMW iX</h4>
                  </a>

                  <h6>Rs 1.21 Cr</h6>

                  <p>321.84 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>
                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 425 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>71 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/BMW iX1/BMWiX1.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>BMW iX1</h4>
                  </a>
          
                  <h6>Rs 66.90 Lakh</h6>
          
                  <p>309 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>
          
                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 440 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>66.4 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>

            
            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/Tata Tigor EV/TataTigorEV.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>Tata Tigor EV</h4>
                  </a>

                  <h6>Rs 23.84 - 24.03 Lakh</h6>

                  <p>73.75 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>
                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 315 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>26 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/Pravaig Defy/Pravaig DEFY.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>Pravaig DEFY</h4>
                  </a>
          
                  <h6>Rs 39.50 Lakh</h6>
          
                  <p>402 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>
          
                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 500 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>90.9 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/Porsche Taycan/Porsche Taycan.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>Porsche Taycan</h4>
                  </a>
          
                  <h6>Rs 1.61 - 2.44 Cr</h6>
          
                  <p>617 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>
          
                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 452 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>93.4 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/HyundaiKonaElectric/HyundaiKonaElectric.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>Hyundai Kona Electric</h4>
                  </a>

                  <h6>Rs 23.84 - 24.03 Lakh</h6>

                  <p>134 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>
                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 452 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>39.2 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto </strong>
                  </small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/Jaguar I-Pace/Jaguar I-Pace.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>Jaguar I-Pace</h4>
                  </a>
          
                  <h6>Rs 1.20 - 1.24 Cr</h6>
          
                  <p>392.26 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>
          
                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 470 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>90 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/Mini Cooper SE/Mini Cooper SE.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>Mini Cooper SE</h4>
                  </a>

                  <h6><small><del> $11199.00</del></small> $11179.00</h6>

                  <p>320 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>

                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 270 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>32.6 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/Mercedes-Benz EQB/Mercedes-Benz EQB.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>Mercedes-Benz EQB</h4>
                  </a>

                  <h6><small><del> $11199.00</del></small> $11179.00</h6>

                  <p>536 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>

                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 423 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>66.5 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/PMV EaS E/PMV EaS E.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>PMV EaS E</h4>
                  </a>

                  <h6><small><del> $11199.00</del></small> $11179.00</h6>

                  <p>147 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>

                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 160 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>10 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="product-item">
                <a href="car-details"><img src="../static/images/Audi Rs e-tron GT/Audi RS e-tron GT.webp" alt=""></a>
                <div class="down-content">
                  <a href="car-details">
                    <h4>Audi RS e-tron GT</h4>
                  </a>

                  <h6><small><del> $11199.00</del></small> $11179.00</h6>

                  <p>73.75 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023</p>
                  <small>
                    <strong title="Author"><i class="fa fa-dashboard"></i>Range: 481 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Author"><i class="fa fa-cube"></i>93 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="Views"><i class="fa fa-cog"></i> Auto</strong>
                  </small>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
    
</div>
</div>
</div>
</div>
</div>


 <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book Now</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="contact-form">
            <form action="#" id="contact">
              <div class="row">
                <div class="col-md-6">
                  <fieldset>
                    <input type="text" class="form-control" placeholder="Pick-up location" required="">
                  </fieldset>
                </div>

                <div class="col-md-6">
                  <fieldset>
                    <input type="text" class="form-control" placeholder="Return location" required="">
                  </fieldset>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <fieldset>
                    <input type="text" class="form-control" placeholder="Pick-up date/time" required="">
                  </fieldset>
                </div>

                <div class="col-md-6">
                  <fieldset>
                    <input type="text" class="form-control" placeholder="Return date/time" required="">
                  </fieldset>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Enter full name" required="">

              <div class="row">
                <div class="col-md-6">
                  <fieldset>
                    <input type="text" class="form-control" placeholder="Enter email address" required="">
                  </fieldset>
                </div>

                <div class="col-md-6">
                  <fieldset>
                    <input type="text" class="form-control" placeholder="Enter phone" required="">
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>
  </div>
  
{% include 'footer.html' %}
</body>

</html>