<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <h2>Go-<em>Electric</em></h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {{home}}">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item {{cars}}"><a class="nav-link" href="cars">Cars</a></li>

                    <li class="nav-item dropdown {{blog}}">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">More</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://ev.delhi.gov.in/blogs">Blog</a>
                            <a class="dropdown-item" href="team">Team</a>
                            <a class="dropdown-item" href="terms">Terms And Conditions</a>
                            <a class="dropdown-item" href="https://e-amrit.niti.gov.in/state-level-policies">Govt Incentives</a>
                        </div>
                    </li>

                    <li class="nav-item {{about}}"><a class="nav-link" href="about">About Us</a></li>

                    <li class="nav-item {{contact}}"><a class="nav-link" href="contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>