<!DOCTYPE html>
<html lang="en">


<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../static/images/favicon-32x32.png">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <title>Go-Electric</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static '/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/owl.css' %}">

</head>


<body>

  {% include 'header.html' %}
<!--slider starts here-->

  <div class="slider">
    <figure>
      <div class="sl1">
      <div class="text-content">
        <h4>Find your ev match</h4>
        <h2>we will help you find the ev that matches your lifestyle</h2>
        </div>
        <img src="../static/images/dd.jpg" alt="img1">   
      </div> 
        <div class="sl2">
          <div class="text-content">
            <h4>Find your ev match</h4>
            <h2>we will help you find the ev that matches your lifestyle</h2>
            </div>
        <img src="../static/images/15.jpg" alt="img1">   
        </div>
        <div class="sl3">
          <div class="text-content">
            <h4>Find your ev match</h4>
            <h2>we will help you find the ev that matches your lifestyle</h2>
            </div>
        <img src="../static/images/16.jpg" alt="img2">   
        </div>
        <div class="sl4">
          <div class="text-content">
            <h4>Find your ev match</h4>
            <h2>we will help you find the ev that matches your lifestyle</h2>
            </div>
        <img src="../static/images/11.jpg" alt="img1"> 
        </div>
        <div class="sl5">
          <div class="text-content">
            <h4>Find your car today!</h4>
            <h2>we will help you find the ev that matches your lifestyle</h2>
            </div>
        <img src="../static/images/14.jpg" alt="img3"> 
        </div>
    </figure>
        </div>

  <!-- slider Ends Here -->

  <div class="latest-products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Featured Cars</h2>
            <a href="cars">view more <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="product-item">
            <a href="car-details"><img src="../static/images/nexon ev/NexonEV.webp" alt=""></a>
            <div class="down-content">
              <a href="car-details">
                <h4>Tata Nexon EV</h4>
              </a>

              <h6>Rs 14,70,000.00</h6>

              <p>144 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023 &nbsp;/&nbsp; New Vehicle</p>

              <small>
                <strong title="Author"><i class="fa fa-dashboard"></i>Range 465 KM</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                <strong title="Author"><i class="fa fa-cube"></i> 40KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                <strong title="Views"><i class="fa fa-cog"></i>Auto</strong>
              </small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="product-item">
            <a href="car-details"><img src="../static/images/citroen ec3/citroenec3.webp" alt=""></a>
            <div class="down-content">
              <a href="car-details">
                <h4>Citroen eC3</h4>
              </a>

              <h6>Rs 13,13,000.00</h6>

              <p>56 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023 &nbsp;/&nbsp; New vehicle</p>

              <small>
                <strong title="Author"><i class="fa fa-dashboard"></i>Range 300 Km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                <strong title="Author"><i class="fa fa-cube"></i>30KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                <strong title="Views"><i class="fa fa-cog"></i>Auto</strong>
              </small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="product-item">
            <a href="car-details"><img src="../static/images/Kia ev 6/Kia-ev6.webp" alt=""></a>
            <div class="down-content">
              <a href="car-details">
                <h4>Kia EV6</h4>
              </a>

              <h6>Rs 60,00,000.00</h6>

              <p>320 hp &nbsp;/&nbsp; Electric &nbsp;/&nbsp; 2023 &nbsp;/&nbsp; New vehicle</p>

              <small>
                <strong title="Author"><i class="fa fa-dashboard"></i>Range 708</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                <strong title="Author"><i class="fa fa-cube"></i>78 KWh</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                <strong title="Views"><i class="fa fa-cog"></i>Auto</strong>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="best-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>About Us</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <p>At Go-Electric, we envision a future where clean, efficient, and electrifying transportation 
              is the norm. Our passion lies in accelerating the transition to a sustainable future by connecting individuals 
              with a diverse range of electric vehicles. We believe that every journey can be both eco-friendly and thrilling, 
              and we're here to make that vision a reality.</p>
              <div class="section-heading">
                <h2>Our Commitment to Sustainability.</h2>
              </div>
              <p>Beyond offering an extensive range of electric vehicles, Go-Electric is committed to promoting sustainability in every aspect of our operations. <br></p>
            <a href="about-us" class="filled-button">Read More</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="static/images/about-1-570x350.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


  <!-- Additional Scripts -->
  <script src="{% static '/js/custom.js' %}"></script>
  <script src="{% static '/js/owl.js' %}"></script>

{% include 'footer.html' %}
</body>

</html>