<!DOCTYPE html>
<html lang="en">


<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static '/images/favicon-32x32.png' %}">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <title>Go-Electric</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static '/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/owl.css' %}">

</head>


<body>
{% include 'header.html' %}

  <!-- Page Content -->
  <div class="page-heading about-heading header-text" style="background-image: url(/images/heading-6-1920x500.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4><strong class="text-primary">Rs 6,255,000</strong></h4>
            <h2>KIA EV 6</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="products">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div>
            <img src="{% static '/images/Kia ev 6/side-view-(left)-90.webp' %}" alt="" class="img-fluid wc-image">
          </div>
          <br>
          <div class="row">
            <div class="col-sm-4 col-6">
              <div>
                <img src="{% static '/images/Kia ev 6/front-view-118.webp' %}" alt="" class="img-fluid">
              </div>
              <br>
            </div>
            <div class="col-sm-4 col-6">
              <div>
                <img src="{% static '/images/Kia ev 6/top-view-117.webp' %}" alt="" class="img-fluid">
              </div>
              <br>
            </div>
            <div class="col-sm-4 col-6">
              <div>
                <img src="{% static '/images/Kia ev 6/grille-97.webp' %}" alt="" class="img-fluid">
              </div>
              <br>
            </div>

            <div class="col-sm-4 col-6">
              <div>
                <img src="{% static '/images/Kia ev 6/headlight-43.webp' %}" alt="" class="img-fluid">
              </div>
              <br>
            </div>
            <div class="col-sm-4 col-6">
              <div>
                <img src="{% static '/images/Kia ev 6/taillight-44.webp' %}" alt="" class="img-fluid">
              </div>
              <br>
            </div>
            <div class="col-sm-4 col-6">
              <div>
                <img src="{% static '/images/Kia ev 6/side-mirror-(body)-93.webp' %}" alt="" class="img-fluid">
              </div>
              <br>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <form action="#" method="post" class="form">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="clearfix">
                  <span class="pull-left">Range</span>

                  <strong class="pull-right">708 km</strong>
                </div>
              </li>

              <li class="list-group-item">
                <div class="clearfix">
                  <span class="pull-left">Boot Space (Litres)</span>

                  <strong class="pull-right">532</strong>
                </div>
              </li>

              <li class="list-group-item">
                <div class="clearfix">
                  <span class="pull-left">Top Speed</span>

                  <strong class="pull-right">192 kmph</strong>
                </div>
              </li>

              <li class="list-group-item">
                <div class="clearfix">
                  <span class="pull-left">Battery Capacity</span>

                  <strong class="pull-right">77.4 kWh</strong>
                </div>
              </li>

              <li class="list-group-item">
                <div class="clearfix">
                  <span class="pull-left">Power</span>

                  <strong class="pull-right">225.86 - 320.55 bhp</strong>
                </div>
              </li>


              <li class="list-group-item">
                <div class="clearfix">
                  <span class="pull-left">Anti Lock Braking System</span>

                  <strong class="pull-right">Yes</strong>
                </div>
              </li>

              <li class="list-group-item">
                <div class="clearfix">
                  <span class="pull-left">Number of seats</span>

                  <strong class="pull-right">5</strong>
                </div>
              </li>

              <li class="list-group-item">
                <div class="clearfix">
                  <span class="pull-left">Max Torque (nm@rpm)</span>

                  <strong class="pull-right">605Nm</strong>
                </div>
              </li>

              <li class="list-group-item">
                <div class="clearfix">
                  <span class="pull-left">Body Type</span>

                  <strong class="pull-right">SUV</strong>
                </div>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="section-heading">
            <h2>Vehicle Description</h2>
          </div>

          <div class="left-content">
            <p>- Power Windows-Front<br>- Power Windows-Rear<br>- Heater<br>- Low Fuel Warning Light<br>- Rear Seat Headrest
              <br>- Rear Seat Centre Arm Rest<br>- Seat Lumbar Support<br>- Navigation System<br>- Engine Start/Stop Button<br>- Steering Wheel Gearshift Paddles<br>-
              Tailgate Ajar<br>- Hands-Free Tailgate<br>Ventilated Driver & Passenger seats, Auto Anti-glare (ECM) Inside rear view mirror with Kia Connect controls,
              Metal scuff plates, Rear Parcel shelf, Vegan leather wrapped steering wheel, 64 color Ambient mood lighting, Black suede seats with vegan leather bolsters, 
              Sporty alloy pedals, Relaxation Driver & Passenger seats</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="section-heading">
            <h2>Vehicle Extras</h2>
          </div>

          <div class="left-content">
            <p>- Digital Clock <br>-Leather seats <br>-Power Assisted Steering <br>-Leather Steering Wheel <br>-Tachometer
              <br>-Glove Compartment
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="section-heading">
            <h2>Contact Details</h2>
          </div>

          <div class="left-content">
            <p>
              <span>Name</span>

              <br>

              <strong>Rahul Joshi</strong>
            </p>

            <p>
              <span>Phone</span>

              <br>

              <strong>
                <a href="tel:123-456-789">123-456-789</a>
              </strong>
            </p>

            <p>
              <span>Mobile phone</span>

              <br>

              <strong>
                <a href="tel:456789123">456789123</a>
              </strong>
            </p>

            <p>
              <span>Email</span>

              <br>

              <strong>
                <a href="mailto:john@carsales.com">rahul@carsales.com</a>
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book Now</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="contact-form">
            <form action="#" id="contact">
              <div class="row">
                <div class="col-md-6">
                  <fieldset>
                    <input type="text" class="form-control" placeholder="Pick-up location" required="">
                  </fieldset>
                </div>

                <div class="col-md-6">
                  <fieldset>
                    <input type="text" class="form-control" placeholder="Return location" required="">
                  </fieldset>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <fieldset>
                    <input type="text" class="form-control" placeholder="Pick-up date/time" required="">
                  </fieldset>
                </div>

                <div class="col-md-6">
                  <fieldset>
                    <input type="text" class="form-control" placeholder="Return date/time" required="">
                  </fieldset>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Enter full name" required="">

              <div class="row">
                <div class="col-md-6">
                  <fieldset>
                    <input type="text" class="form-control" placeholder="Enter email address" required="">
                  </fieldset>
                </div>

                <div class="col-md-6">
                  <fieldset>
                    <input type="text" class="form-control" placeholder="Enter phone" required="">
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>