<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static '/images/favicon-32x32.png' %}">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <title>Go-Electric</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static '/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/owl.css' %}">

</head>

  <body>

    <!-- Header -->
    {% include 'header.html' %}


    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(static/images/heading-2-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Let's MEET</h4>
              <h2>Our Team Members</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="../static/images/darshit.jpeg" height="260" width="370">
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>Darshit Raghav</h4>
                <span>Founder</span>
                <p>Specialist in Website Layout and Designing, And the one came out with the idea for the Website.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="../static/images/pkm.jpg" height="260" width="370">
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>Prashant Kumar Majumdar</h4>
                <span>Chief Developer</span>
                <p>Web Developer, Frontend Specialist and Designer, And the one to shape the Idea into a Website.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="../static/images/piyush.jpg" height="260" width="370">
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>Piyush Prajapati</h4>
                <span>Chief Backend Architect</span>
                <p>Specialised in Web Scraping and Backend Development, And the one to layout the entire Backend of the Website.</p>
              </div>
            </div>
          </div>
          </div>
          <div class="kus">
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="../static/images/kushu.jpeg" height="260" width="370">
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>Khushank Bisharya</h4>
                <span>Networking Specialist</span>
                <p>Specialised in Networking,AWS and Database Administration, And the one to Design the entire Database of the Website.</p>
              </div>
            </div>
          </div>
          </div>
        
    {% include 'footer.html' %}

  </body>

</html>